<a href="https://colab.research.google.com/github/kassy75035/NLP_part1/blob/main/%E5%9F%BA%E7%A4%8E%E8%AA%9E%E8%A8%80%E6%A8%A1%E5%9E%8BN_Gram%E4%BD%9C%E6%A5%AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 作業目標: 了解N-Gram如何藉由文本計算機率

### 為何需要使用馬可夫假設來簡化語言模型的計算?

原本的語言模型利用貝氏定理計算機率時為:
$$
\begin{aligned}
&W = (W_1W_2W_3W_4…W_m) \\
&P(W_1,W_2,W_3,W_4,…,W_m) = P(W_1)*P(W_2|W_1)*P(W_3|W_1,W_2)*…*P(W_m|W_1,…,W_{m-1})
\end{aligned}
$$

為何需要引入馬可夫假設使機率簡化為:
$$
P(W_m|W_1,W_2,W_3,…,W_{m-1}) = P(W_m|W_{m-n+1},W_{m-n+2},…,W_{m-1})
$$

In [ ]:
'''
###<your answer>###
'''

### 以Bigram模型下判斷語句是否合理

已知的機率值有
1. p(i|_start_) = 0.25
2. p(english|want) = 0.0011
3. p(food|english) = 0.5
4. p(_end_|food) = 0.68
5. P(want|_start_) = 0.25
6. P(english|i) = 0.0011

In [1]:
import numpy as np
import pandas as pd
words = ['i', 'want', 'to', 'eat', 'chinese', 'food', 'lunch', 'spend']
word_cnts = np.array([2533, 927, 2417, 746, 158, 1093, 341, 278]).reshape(1, -1)
df_word_cnts = pd.DataFrame(word_cnts, columns=words)
df_word_cnts

      i  want    to  eat  chinese  food  lunch  spend
0  2533   927  2417  746      158  1093    341    278

In [2]:
# 記錄當前字與前一個字詞的存在頻率
bigram_word_cnts = [[5, 827, 0, 9, 0, 0, 0, 2], [2, 0, 608, 1, 6, 6, 5, 1], [2, 0, 4, 686, 2, 0, 6, 211],
                    [0, 0, 2, 0, 16, 2, 42, 0], [1, 0, 0, 0, 0, 82, 1, 0], [15, 0, 15, 0, 1, 4, 0, 0],
                    [2, 0, 0, 0, 0, 1, 0, 0], [1, 0, 1, 0, 0, 0, 0, 0]]

df_bigram_word_cnts = pd.DataFrame(bigram_word_cnts, columns=words, index=words)
df_bigram_word_cnts

          i  want   to  eat  chinese  food  lunch  spend
i         5   827    0    9        0     0      0      2
want      2     0  608    1        6     6      5      1
to        2     0    4  686        2     0      6    211
eat       0     0    2    0       16     2     42      0
chinese   1     0    0    0        0    82      1      0
food     15     0   15    0        1     4      0      0
lunch     2     0    0    0        0     1      0      0
spend     1     0    1    0        0     0      0      0

由上表可知當前一個字詞(列)是want的時候, 當前字詞(行)是to的頻率在文本中共有608次

In [43]:
#請根據給出的總詞頻(df_word_cnts)與bigram模型的詞頻(df_bigram_word_cnts)計算出所有詞的配對機率(ex:p(want|i))
df_bigram_prob = df_bigram_word_cnts.copy()
df_bigram_prob = np.array(df_bigram_prob)
df_temp = np.zeros((df_bigram_prob.shape[0],df_bigram_prob.shape[1]))
###<your code>###
for i in range(word_cnts.shape[1]):
  df_temp[:,i] = df_bigram_prob[:,i]/word_cnts[0][i]

# df_bigram_prob
df_bigram_prob = df_temp
df_bigram_prob

array([[1.97394394e-03, 8.92125135e-01, 0.00000000e+00, 1.20643432e-02,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 7.19424460e-03],
       [7.89577576e-04, 0.00000000e+00, 2.51551510e-01, 1.34048257e-03,
        3.79746835e-02, 5.48947850e-03, 1.46627566e-02, 3.59712230e-03],
       [7.89577576e-04, 0.00000000e+00, 1.65494415e-03, 9.19571046e-01,
        1.26582278e-02, 0.00000000e+00, 1.75953079e-02, 7.58992806e-01],
       [0.00000000e+00, 0.00000000e+00, 8.27472073e-04, 0.00000000e+00,
        1.01265823e-01, 1.82982617e-03, 1.23167155e-01, 0.00000000e+00],
       [3.94788788e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 7.50228728e-02, 2.93255132e-03, 0.00000000e+00],
       [5.92183182e-03, 0.00000000e+00, 6.20604055e-03, 0.00000000e+00,
        6.32911392e-03, 3.65965233e-03, 0.00000000e+00, 0.00000000e+00],
       [7.89577576e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 9.14913083e-04, 0.00000000e+00, 0.00000000e+00],
       [3.94788788e-04, 0.00000000e+00, 4.13736036e-04, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [38]:
df_bigram_prob[:,0]/word_cnts[0][0]

array([0.00197394, 0.00078958, 0.00078958, 0.        , 0.00039479,
       0.00592183, 0.00078958, 0.00039479])

請根據已給的機率與所計算出的機率(df_bigram_prob), 試著判斷下列兩個句子哪個較為合理

s1 = “i want english food”

s2 = "want i english food"

In [ ]:
'''
###<your answer>###
'''
s1